{% extends "index.html" %}
{% block title %}Admin - Home{% endblock %}

{% block content %}
    <div class="container">
        <a class="nav-item nav-link {{ 'active-link' if page == 'users'}}" href="/admin/users">Users</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'foods'}}" href="/admin/foods">Foods</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'meals'}}" href="/admin/meals">Meals</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'units'}}" href="/admin/units">Units</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'user foods'}}" href="/admin/user_foods">User Foods</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'meal foods'}}" href="/admin/meal_foods">Meal Foods</a>
    </div>
{% endblock %}