{% extends "index.html" %}
{% block title %}Meals{% endblock %}

{% block content %}
    <div id="edit-calendar-container">
        <form action="/meals/edit-calendar" method="GET">
            <button type="submit" class="btn btn-secondary">Edit Calendar</button>
        </form>
    </div>
    <div id="weekly-container">
        {% for meal in weekly_meals %}
            <div class="daily-meal {{ 'today-meal' if today == loop.index0 }}">
                <div class="day-title">{{ days[loop.index0] }}</div>
                {% if meal %}
                    {{ meal.name }}
                {% else %}
                    <form action="/meals/update-weekly-meal" method="POST">
                        <input type="hidden" name="weekday" id="weekday" value="{{ loop.index0 }}">
                            <div>
                                <select class="form-select" id="weekly-meal-select" name="weekly-meal-select">
                                    <option selected>Choose Meal</option>
                                    {% for meal in items %}
                                        <option value="{{ meal.id }}">{{ meal.name | capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        <button type="submit" class="btn btn-secondary">Add</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% with toolbar=true, clickable=true %}
        {% include "partials/table.html" %}
    {% endwith %}
    {% include "partials/new_meal_partial.html" %}
{% endblock %}