<nav class="navbar {{ 'admin-nav' if admin_route }} navbar-top navbar-expand-sm">
    <a id="logo" class="nav-item nav-link" href="/home">KM</a>
    <button class="navbar-toggler mt-1 justify-content-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="nav flex-fill">
            {% if admin_route %}
                <a class="nav-item nav-link {{ 'active-link' if page == 'home'}}" href="/home">Home</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'admin_home'}}" href="/admin">Admin</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'users'}}" href="/admin/users">Users</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'foods'}}" href="/admin/foods">Foods</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'meals'}}" href="/admin/meals">Meals</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'units'}}" href="/admin/units">Units</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'user foods'}}" href="/admin/user_foods">User Foods</a>
                <a class="nav-item nav-link {{ 'active-link' if page == 'meal foods'}}" href="/admin/meal_foods">Meal Foods</a>
                <div class="d-flex flex-grow-1 justify-content-end"><a class="nav-item nav-link" href="/logout">Logout</a></div>
            {% else %}
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link {{ 'active-link' if page == 'home'}}" href="/home">Home</a>
                    {% if user.is_authenticated and user.is_admin() %}
                        <a class="nav-item nav-link {{ 'active-link' if page == 'admin_home'}}" href="/admin">Admin</a>
                    {% endif %}
                    <div class="d-flex flex-grow-1 justify-content-end"><a class="nav-item nav-link" href="/logout">Logout</a></div>
                {% else %}
                    <a class="nav-item nav-link {{ 'active-link' if page == 'login'}}" href="/login">Login</a>
                    <a class="nav-item nav-link {{ 'active-link' if page == 'sign_up'}}" href="/sign-up">Sign Up</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</nav>